.main{
  display: table;
  margin: 0 auto;
  background-color: rgb(21, 93, 122);
  border-radius: 14px;
}
.input__words{
  display: table;
  margin: 10px 10px;
  width: 620px;
  height: 100px;
  font-size: 48px;
  padding: 0px;
  border-radius: 12px;
  border-color: #ffffff00;
}

.p{
  margin: 40px 10px;
  width: 620px;
  height: 100px;
  font-size: 48px;

}